In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter('ignore')

In [2]:
df=pd.read_csv('C:\\Dibya\\Data Science\\Project\\car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [4]:
df.describe()

              Year  Selling_Price  Present_Price     Driven_kms       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.642584   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [5]:
df['Car_Name'].value_counts()

city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: Car_Name, Length: 98, dtype: int64

In [6]:
df['Year'].value_counts()

2015    61
2016    50
2014    38
2017    35
2013    33
2012    23
2011    19
2010    15
2008     7
2009     6
2006     4
2005     4
2003     2
2007     2
2018     1
2004     1
Name: Year, dtype: int64

In [7]:
df['Selling_Price'].value_counts()

0.45     8
0.60     8
5.25     7
4.50     7
0.20     6
        ..
3.80     1
3.45     1
5.90     1
35.00    1
11.50    1
Name: Selling_Price, Length: 156, dtype: int64

In [8]:
df['Present_Price'].value_counts()

9.40     14
13.60    13
5.70      8
1.47      7
0.51      6
         ..
36.23     1
18.54     1
7.27      1
15.04     1
12.50     1
Name: Present_Price, Length: 148, dtype: int64

In [9]:
df['Fuel_Type'].value_counts()

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64

In [10]:
df['Selling_type'].value_counts()

Dealer        195
Individual    106
Name: Selling_type, dtype: int64

In [11]:
df['Transmission'].value_counts()

Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [12]:
df['Owner'].value_counts()

0    290
1     10
3      1
Name: Owner, dtype: int64

In [13]:
df=df.drop(columns=['Car_Name','Owner','Fuel_Type','Selling_type','Transmission'])
df

     Year  Selling_Price  Present_Price  Driven_kms
0    2014           3.35           5.59       27000
1    2013           4.75           9.54       43000
2    2017           7.25           9.85        6900
3    2011           2.85           4.15        5200
4    2014           4.60           6.87       42450
..    ...            ...            ...         ...
296  2016           9.50          11.60       33988
297  2015           4.00           5.90       60000
298  2009           3.35          11.00       87934
299  2017          11.50          12.50        9000
300  2016           5.30           5.90        5464

[301 rows x 4 columns]

In [14]:
X=df.drop(columns='Selling_Price')
Y=df['Present_Price']

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=34)

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)
    
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,Y_train)
    
Ypred_train=model.predict(X_train)
Ypred_test=model.predict(X_test)
    
print(model.score(X_train,Y_train))
print(model.score(X_test,Y_test))

from sklearn.model_selection import cross_val_score
score=cross_val_score(model,X,Y,cv=3)
print('Cross Validation Score =',score.mean())

0.8333684041005596
0.8837865623118856
Cross Validation Score = -13.490344743088592

In [15]:
from sklearn.preprocessing import PolynomialFeatures
Poly_converter=PolynomialFeatures(degree=2,include_bias=False)
X_poly=Poly_converter.fit_transform(X)
X_poly=pd.DataFrame(X_poly)

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X_poly,Y,test_size=0.3,random_state=34)
    
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,Y_train)
    
model.coef_
model.intercept_
    
Ypred_train=model.predict(X_train)
Ypred_test=model.predict(X_test)

print(model.score(X_train,Y_train))
print(model.score(X_test,Y_test))

0.9716595759785877
0.9596809131292485

In [16]:
for i in range(2,11):
    from sklearn.model_selection import cross_val_score
    score=cross_val_score(model,X,Y,cv=i)
    print('Cross Validation Score =',score.mean())

Cross Validation Score = 0.7615133121987495
Cross Validation Score = -13.490344743088592
Cross Validation Score = 0.7118272320146912
Cross Validation Score = -18.407203626114516
Cross Validation Score = -53.62211741051643
Cross Validation Score = -36.36652837996291
Cross Validation Score = -46.71437126112398
Cross Validation Score = -58.5402772451012
Cross Validation Score = -78.19301796762623